<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css\style.css">
    <link rel="shortcut icon" href="img\logoMallas.ico" type="image/x-icon">
    <title>404 | Error</title>
</head>
<body>
    <header>
    <nav class="bg-success pt-5 pb-5">
    <div class="container">
        <h3 class="text-white text-uppercase" id="titulo">Mundial de Mallas y Estructuras Ingenieria S.A.S</h3>
    </div>
    </nav>
    <div class="bg-light text-center pt-5" style="height: 100vh;">
    <div class="container">
        <h1 class="display-1 pt-2 font-weight-bold">ERROR 404 :(</h1>
        <h1 class="display-4 pt-1 pb-3" id="pagnotfound">Ooops! Algo ha sucedido, Página no encontrada!</h1>
        <h3 class="font-weight-light text-secondary" id="deleted">La página que estas buscando no existe o ha sido eliminada.</h3>
        <a href="index.html" class="btn btn-success mt-3 pt-3 pb-3 pr-4 pl-4" id="backhome">Volver al Inicio</a>
    </div>
    </div>
    </header>
</body>
<footer class="d-flex flex-wrap py-5 border-bottom btn-success"></footer>
</html>