{% load static %}
{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">TÉCNICOS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success" title="Inicio">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/tecnicos/"
                                class="text-success" title="Técnicos"> / Técnicos</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title"><tr><b
                                    class="text-success">Reporte de Técnicos</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Este botón llama el modal -->
                        <button type="button" class="btn btn-success float-right mr-0 mb-3" data-bs-toggle="modal" data-bs-target="#crearTecnico" title="Crear"> Crear Técnico</button>
                        <!-- Datatable de tecnicos -->
                        <table id="tabla-tecnicos" class="table table-bordered table-striped dataTable dtr-inline border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">Nombres</th>
                                    <th class="border-dark">Apellidos</th>
                                    <th class="border-dark">Teléfono</th>
                                    <th class="border-dark">Genero</th>
                                    <th class="border-dark">Tipo de Documento</th>
                                    <th class="border-dark">Número de Documento</th>
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tecnico in tecnicos %}
                                {% if tecnico.estado == '1' %}
                                <tr>
                                    <td class="border-dark text-black">{{tecnico.nombres}}</td>
                                    <td class="border-dark text-black">{{tecnico.apellidos}}</td>
                                    <td class="border-dark text-black">{{tecnico.telefono}}</td>
                                    <td class="border-dark text-black">{{tecnico.genero}}</td>
                                    <td class="border-dark text-black">{{tecnico.tipoDocumento}}</td>
                                    <td class="border-dark text-black">{{tecnico.numDocumento}}</td>
                                    <td class="border-dark text-black">
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verTecnico{{tecnico.pk}}" title="Ver">
                                            <i class="fas fa-eye"></i></button>        
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarTecnico{{tecnico.pk}}" title="Modificar">
                                            <i class="fas fa-edit"></i></button>
                                            <button class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{tecnico.pk}}" title="Eliminar">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>

                                <!-- Modal de modificar cliente -->

                                <div class="modal fade" id="modificarTecnico{{tecnico.pk}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-3" id="staticBackdropLabel">
                                                <b class="text-black">MODIFICAR TÉCNICO</b></h1>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Formulario -->
                                            <form action="{% url 'tecnico_modificar' tecnico.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                {% csrf_token %}
                                                
                                                <div class="modal-body text-start" >
                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom01" class="form-label ps-2 text-black" style="font-size: 17;">Nombres</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="nombres" id="id_nombres"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom01" required value="{{tecnico.nombres}}">
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Completa la información.
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom02" class="form-label ps-2 text-black" style="font-size: 17;">Apellidos</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="apellidos" id="id_apellidos"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom02" required value="{{tecnico.apellidos}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                            
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom03" class="form-label ps-2 text-black" style="font-size: 17;">Número de Télefono</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control"
                                                                    name="telefono" id="id_telefono"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom03" required value="{{tecnico.telefono}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un número de télefono valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        


                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Género</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_genero" class="form-select" name="genero"
                                                                    aria-label="tipo-activo" id="validationCustom06" required>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="M"
                                                                        {% if tecnico.genero == 'M' %} selected {% endif %}
                                                                        >Masculino</option>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="F"
                                                                        {% if tecnico.genero == 'F' %} selected {% endif %}
                                                                        >Femenino</option>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="O"
                                                                        {% if tecnico.genero == 'O' %} selected {% endif %}
                                                                        >Otro</option>
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Tipo de Documento</label>
                                                            <div class="input-group mb-3 w-100">
                                                                
                                                                <select id="id_tipoDocumento" class="form-select" name="tipoDocumento"
                                                                    aria-label="tipo-activo" id="validationCustom04" required>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="CC"
                                                                        {% if tecnico.tipoDocumento == 'CC' %} selected {% endif %}
                                                                        >Cédula de Ciudadania</option>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="CE"
                                                                        {% if tecnico.tipoDocumento == 'CE' %} selected {% endif %}
                                                                        >Cédula de Extranjería</option>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="PP"
                                                                        {% if tecnico.tipoDocumento == 'PP' %} selected {% endif %}
                                                                        >Pasaporte</option>
                                                                    <option 
                                                                        class="text-black" 
                                                                        value="OT"
                                                                        {% if tecnico.tipoDocumento == 'OT' %} selected {% endif %}
                                                                        >Otro</option>
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom05" style="font-size: 17;">Número de Documento</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control" name="numDocumento"
                                                                    id="id_numeroDocumento"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom05" required value="{{tecnico.numDocumento}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un número de documento valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                
                                            
                                                    <div class="modal-footer">
                                                        <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL TECNICO -->
                                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" title="Cancelar">Cancelar</button>
                                                        <input class="btn btn-success" type="submit" title="Modificar" value="Modificar">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>      


                                <!-- Modal de ver tecnico -->
                                
                                <div class="modal fade" id="verTecnico{{tecnico.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >VER TÉCNICO</b></h1>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario -->
                                                <form  action="{% url 'tecnico_ver' tecnico.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                
                                                    {% csrf_token %}          
                                                    <div class="modal-body text-start" > 

                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom01" class="form-label ps-2 text-black" style="font-size: 17;">Nombres</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="nombres" id="id_nombres"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom01" required disabled value="{{tecnico.nombres}}">
                                                            </div>
                                                        </div>

                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom02" class="form-label ps-2 text-black" style="font-size: 17;">Apellidos</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="apellidos" id="id_apellidos"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom02" required disabled value="{{tecnico.apellidos}}">
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom03" class="form-label ps-2 text-black" style="font-size: 17;">Número de Télefono</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control"
                                                                    name="telefono" id="id_telefono"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom03" required disabled value="{{tecnico.telefono}}">
                                                            </div>
                                                        </div>

                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Género</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input id="id_genero" class="form-control" name="genero"
                                                                    aria-label="tipo-activo" id="validationCustom04" required disabled value="{{tecnico.genero}}">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom05" style="font-size: 17;">Tipo de Documento</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input id="id_tipoDocumento" class="form-control" name="tipoDocumento"
                                                                    aria-label="tipo-activo" id="validationCustom05" required disabled value="{{tecnico.tipoDocumento}}">
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Número de Documento</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control" name="numDocumento"
                                                                    id="id_numeroDocumento"
                                                                    aria-describedby="basic-addon3" id="validationCustom06" required disabled value="{{tecnico.numDocumento}}">
                                                            </div>
                                                        </div>
                                                
                                                        <div class="modal-footer">
                                                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL TÉCNICO -->
                                                            <button type="reset" class="btn btn-success"
                                                                data-bs-dismiss="modal" title="Regresar">Regresar</button>    
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            </div>




                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                    id="deleteModal{{tecnico.pk}}"
                                    tabindex="-1"
                                    aria-labelledby="deleteModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title "
                                                    id="deleteModalLabel"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR TÉCNICO</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center
                                                    text-danger"><i class="far
                                                        fa-times-circle fa-5x
                                                        mb-4 mt-2"></i></div>
                                                <div class="text-center
                                                    text-danger">
                                                    <span class="">¿Estás seguro de que deseas eliminar este tecnico?</span>
                                                    <div class="text-dark mt-3
                                                        mb-2">Técnico: <strong>{{tecnico.nombres}} {{tecnico.apellidos}}</strong></div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'tecnicos_eliminar' tecnico.pk %}">
                                                    {% csrf_token %}

                                                    <input type="submit"
                                                        class="btn btn-danger" title="Eliminar"
                                                        value="Eliminar">
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal" title="Cancelar">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'recuperar_tecnicos' %}" class="btn btn-warning float-right mr-1 mb-3" title="Papelera"><i class="fas fa-trash-restore"></i>&nbsp; Restaurar </a>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% endblock contenido %}

            <!-- jQuery -->
            <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
            <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
            <!-- jQuery UI -->
            <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
            <!-- AdminLTE App -->
            <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
            <!-- toastr alert -->
            <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
            <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
            
            <!-- DataTables  & Plugins -->
            <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
            <script src="{% static 'AdminLTE/js/modal-status.js' %}"></script>

        <!--DataTable Tecnicos-->
        <script>
                $(function () {
                    $("#tabla-tecnicos").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                        //dataTable configurations
                        "responsive": true, "autoWidth": false, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "paging": true, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-tecnicos_wrapper .col-md-6:eq(0)');
                });
            </script>
            <script class="mx-2">(function(d){var s = d.createElement("script");s.setAttribute("data-account", "tkCHtUA3Ge");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
        {% block javascript %}
        {% endblock javascript %}