{% load crispy_forms_tags %}

<!-- Modal de crear tecnico -->

<div class="modal fade" id="crear_Tecnico" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b
                        class="text-black">CREAR NUEVO TÉCNICO</b></h1>
            </div>
            <div class="modal-body">
                <!-- Formulario -->
                <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

                    {% csrf_token %}
                    
                    {{form|crispy}}
                    
                        <div class="modal-footer">
                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL USUARIO -->
                            <button type="reset" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancelar</button>
                            <input class="btn btn-success" type="submit" name="form-nuevo-usuario" value="Crear">
                        </div>
                    </div>
                </div>
            </div>
<script src="/static/js/funciones.js"></script>