{% load static %}
{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">VENTAS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/clientes/"
                                class="text-success">/ Ventas</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b
                                    class="text-success">Reporte de Ventas</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                        <!-- Este botón llama el modal -->
                        <a class="btn btn-success float-right mr-0 mb-3"
                            name="form-crear-venta"
                            data-bs-toggle="modal"
                            data-bs-target="#crear_Venta" title="Crear"> Crear Venta</a>
                        <!-- Datatable de ventas -->
                        <table id="tabla-ventas" class="table table-bordered
                            table-striped border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">ID Venta</th>
                                    <th class="border-dark">Subtotal Venta</th>
                                    <th class="border-dark">Fecha Venta</th>
                                    <th class="border-dark">Porcentaje IVA</th>
                                    <th class="border-dark">Total Venta</th>
                                    <th class="border-dark">Detalle Venta</th>
                                    <th class="border-dark">Cliente</th>
                                    <th class="border-dark">Usuario</th>
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in ventas %}
                                {% if venta.estado == '1' %}
                                <tr>
                                    <td class="border-dark text-black">{{venta.id}}</td>
                                    <td class="border-dark text-black">{{venta.subtotalVenta}}</td>
                                    <td class="border-dark text-black">{{venta.fecha}}</td>
                                    <td class="border-dark text-black">{{venta.porcentajeIva}}</td>
                                    <td class="border-dark text-black">{{venta.totalVenta}}</td>
                                    <td class="border-dark text-black">{{venta.detalleVenta}}</td>
                                    <td class="border-dark text-black">{{venta.cliente}}</td>
                                    <td class="border-dark text-black">{{venta.usuario}}</td>
                                    <td class="border-dark text-black">
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verVenta{{venta.id}}" title="Ver">
                                            <i class="fas fa-eye"></i></button>       
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificar_Venta" title="Modificar">
                                            <i class="fas fa-edit"></i></button><c>{% include 'ventas/ventas-modificar.html' %}</c>
                                            <button class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{venta.pk}}" title="Eliminar">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>

                                
                                    <!-- Modal ver venta -->

                                    <div class="modal fade" id="verVenta{{venta.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black">&nbsp;&nbsp;VER VENTA</b></h1>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Formulario -->
                                                    <form  action="{% url 'venta_ver' venta.id %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                    
                                                        {% csrf_token %}          
                                                        <div class="modal-body text-start" id="form-ver-venta"> 

                                                            <div class="d-inline-block w-100">                                                            
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Subtotal Venta</label>
                                                                <input type="number" name="subtotalVenta" class="form-control input-group mb-3 w-100" value="{{venta.subtotalVenta}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Fecha Venta</label>
                                                                <input type="datetime" name="fechaVenta" class="form-control input-group mb-3 w-100" value="{{venta.fecha}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Porcentaje IVA</label>
                                                                <input type="text" name="porcentajeIva" class="form-control input-group mb-3 w-100" value="{{venta.porcentajeIva}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Total Venta</label>
                                                                <input type="number" name="totalVenta" class="form-control input-group mb-3 w-100" value="{{venta.totalVenta}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Detalle Venta</label>
                                                                <input type="text" name="detalleVenta" class="form-control input-group mb-3 w-100" value="{{venta.detalleVenta}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Cliente</label>
                                                                <input type="text" name="cliente" class="form-control input-group mb-3 w-100" value="{{venta.cliente}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Usuario</label>
                                                                <input type="text" name="usuario" class="form-control input-group mb-3 w-100" value="{{venta.usuario}}" required disabled/>
                                                            </div>
                                                        </div>

                                                        </div> 

                                                        <div class="modal-footer">
                                                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL USUARIO -->
                                                            <button type="reset" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                                                        </div>

                                                    </form>

                                                    

                                                </div>

                                            </div>
                                            
                                        </div>
                                    </div>   

<!-- Fin Modal -->
                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                    id="deleteModal{{venta.pk}}"
                                    tabindex="-1"
                                    aria-labelledby="deleteModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title "
                                                    id="deleteModalLabel"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR VENTA</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center
                                                    text-danger"><i class="far
                                                        fa-times-circle fa-5x
                                                        mb-4 mt-2"></i></div>
                                                <div class="text-center
                                                    text-danger">
                                                    <span class="">¿Estás seguro de que deseas eliminar esta Venta?</span>
                                                    <div class="text-dark mt-3
                                                        mb-2">Venta: <strong>{{venta.id}}</strong></div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'ventas_eliminar' venta.pk %}">
                                                    {% csrf_token %}

                                                    <input type="submit"
                                                        class="btn btn-danger"
                                                        value="Eliminar">
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'recuperar_ventas' %}" class="btn btn-warning float-right mr-1 mb-3" title="Papelera"><i class="fas fa-trash-restore"></i>&nbsp; Restaurar </a>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <footer>{% include 'partials/footer.html' %}</footer>
        <!-- /.content-wrapper -->
        {% endblock contenido %}

            <!-- jQuery -->
            <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
            <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
            <!-- jQuery UI -->
            <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
            <!-- AdminLTE App -->
            <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
            <!-- toastr alert -->
            <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
            <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
            
            <!-- DataTables  & Plugins -->
            <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
            <script src="{% static 'AdminLTE/js/modal-status.js' %}"></script>
            
        <!--DataTable Ventas-->
        <script>
                $(function () {
                    $("#tabla-ventas").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                        //dataTable configurations
                        "responsive": true, "paging": true, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "autoWidth": false, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-ventas_wrapper .col-md-6:eq(0)');
                });
            </script>
        {% block javascript %}
        {% endblock javascript %}