{% load crispy_forms_tags %}

<!-- Modal de crear venta -->

<div class="modal fade" id="crear_Venta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black">&nbsp;&nbsp; CREAR DETALLE VENTA</b></h1>
            </div>
        <div class="modal-body">
            <!-- Formulario -->
            <form  action="{% url 'venta_crear' %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            
                {% csrf_token %}          
                
                <div class="modal-body text-start" > 
                                                    
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom02" style="font-size: 17;">Usuario</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_usuario" class="form-select" name="usuario"aria-label="tipo-activo"
                                id="validationCustom02" required>
                                <option class="text-black" selected value hidden="{{venta.usuario.pk}}">Seleccionar</option>

                                {% for usuario in usuarios %}
                                {% if usuario.estado == '1' %}
                                    <option class="text-black" value="{{usuario.id}}">{{usuario.nombres}} {{usuario.apellidos}}</option>
                                {% endif %}
                                {% endfor %}
                            
                            </select>
                            <div class="valid-feedback">
                                ¡Vamos bien!
                            </div>
                            <div class="invalid-feedback">
                                Selecciona una opción valida.
                            </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom03" style="font-size: 17;">Ciente</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_cliente" class="select form-select" name="cliente"aria-label="tipo-activo"
                                id="validationCustom03" required>
                            
                                <option class="text-black" selected value hidden="{{venta.cliente.pk}}">Seleccionar</option>

                                {% for cliente in clientes %}
                                {% if cliente.estado == '1' %}
                                    <option class="text-black" value="{{cliente.id}}">{{cliente.nombreEmpresa}}</option>
                                {% endif %}
                                {% endfor %}
                            
                            </select>
                            <div class="valid-feedback">
                                ¡Vamos bien!
                            </div>
                            <div class="invalid-feedback">
                                Selecciona una opción valida.
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Producto</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_producto" class="form-select" name="producto"aria-label="tipo-activo"
                                id="validationCustom04" required>
                            
                                <option class="text-black" selected value hidden="{{venta.producto.pk}}">Seleccionar</option>

                                {% for producto in productos %}
                                {% if producto.estado == '1' %}
                                    <option class="text-black" value="{{producto.id}}">{{producto.nombre}}</option>
                                    {% endif %}
                                    {% endfor %}
                            
                            </select>
                            <div class="valid-feedback">
                                ¡Vamos bien!
                            </div>
                            <div class="invalid-feedback">
                                Selecciona una opción valida.
                            </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url"  for="validationCustom05" class="form-label ps-2 text-black" style="font-size: 17;">Cantidad Producto</label>
                        <div class="input-group mb-3 w-100">
                            <input type="number" class="form-control"
                                name="cantidadProducto" id="id_cantidadProducto"
                                aria-describedby="basic-addon3" id="validationCustom05" required minlength="1"
                                maxlength="50" required value="{{venta.cantidadProducto}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Completa la información.
                                </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url"  for="validationCustom06" class="form-label ps-2 text-black" style="font-size: 17;">Valor Unidad</label>
                        <div class="input-group mb-3 w-100">
                            <input type="number" class="form-control"
                                name="valorUnidad" id="id_valorUnidad"
                                aria-describedby="basic-addon3" id="validationCustom06" required minlength="1"
                                maxlength="50" required value="{{venta.valorUnidad}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Completa la información.
                                </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom07" style="font-size: 17;">Modo Pago</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_modoPago" class="form-select" name="modoPago"
                            aria-label="tipo-activo" id="validationCustom07" required>
                            <option class="text-black" selected value hidden="{{venta.modoPago}}">Seleccionar</option>      
                            <option class="text-black" value="EF">Efectivo</option>
                            <option class="text-black" value="PV">Pago Virtual</option>
                            <option class="text-black" value="PT">Pago con Tarjeta</option>                                    
                            </select>
                            <div class="valid-feedback">
                                ¡Vamos bien!
                            </div>
                            <div class="invalid-feedback">
                                Selecciona una opción valida.
                            </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom08" style="font-size: 17;">IVA</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_porcentajeIva" class="form-select" name="porcentajeIva"
                            aria-label="tipo-activo" id="validationCustom08" required>
                            <option class="text-black" selected value hidden="{{venta.porcentajeIva}}">Seleccionar</option>      
                            <option class="text-black" value="5">Bienes y Servicios</option>
                            <option class="text-black" value="19">General</option>
                            <option class="text-black" value="0">Exento</option>                                    
                            </select>
                            <div class="valid-feedback">
                                ¡Vamos bien!
                            </div>
                            <div class="invalid-feedback">
                                Selecciona una opción valida.
                            </div>
                        </div>
                    </div>

                    <div class="d-inline-block w-100">
                        <label for="basic-url"  for="validationCustom09" class="form-label ps-2 text-black" style="font-size: 17;">Valor Total</label>
                        <div class="input-group mb-3 w-100">
                            <input type="number" class="form-control"
                                name="valorTotal" id="id_valorTotal"
                                aria-describedby="basic-addon3" id="validationCustom09" required minlength="1"
                                maxlength="50" required value="{{venta.valorTotal}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Completa la información.
                                </div>
                        </div>
                    </div>

                </div> 


                <div class="modal-footer">
                    <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL USUARIO -->
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input class="btn btn-success" type="submit" name="form-nueva-venta" value="Crear">
                    
                </div>
            </form>
            
        </div>
        
        
    </div>
</div>   

<script src="/static/js/funciones.js"></script>
