{% load crispy_forms_tags %}

<!-- Modal de modificar venta -->

<div class="modal fade" id="modificarVenta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >Modificar Venta</b></h1>
        </div>
        <div class="modal-body">
            <!-- Formulario -->
            <form action="" method="POST">
                {{VentaForm}}
                {% csrf_token %}
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <input class="btn btn-success" type="submit" value="Modificar">
        </div>
    </div>
    </div>
</div>       