<div class="tabla1 tablaBloque1850">
    <div class="contenido1">
        <div class="block block--gov-accessibility">
            <div class="block-options navbar-expanded">
                <a class="contrast-ref" href="#"
                    id="btnAccesibilidad__contraste" title="Alto Contraste">
                    <span class="govco-icon govco-icon-contrast-n"></span>
                    <p> Contraste </p>
                </a>
                <a class="min-fontsize" href="#"
                    id="btnAccesibilidad__minFontSize" title="Reducir tamaño de
                    letra">
                    <span class="govco-icon govco-icon-less-size-n"></span>
                    <p class="align-middle"> Reducir letra </p>
                </a>
                <a class="max-fontsize" id="btnAccesibilidad__maxFontSize"
                    title="Aumentar tamaño de letra">
                    <span class="govco-icon govco-icon-more-size-n"></span>
                    <p class="align-middle"> Aumentar letra </p>
                </a>
            </div>
        </div>
    </div>
</div>