{% load static %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-black"><tr>BIENVENIDO AL SISTEMA CONTROL DE INVENTARIO MME</tr></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio </a></li>
                    <li class="breadcrumb-item-active"><a href="#">/ Perfil</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="/static/img/perfil.jpg">
                <span class="font-weight-bold text-black">LizethO</span><span class="text-black">lizethojeda@gmail.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right text-black">PERFIL DEL USUARIO</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels text-black">Nombres</label><select type="text" class="form-control text-black" placeholder="Nombres" value="" disabled><option>Lizeth Paola</option></select></div>
                    <div class="col-md-6"><label class="labels text-black">Apellidos</label><select type="text" class="form-control text-black" placeholder="Apellidos" value="" disabled><option>Julio Ojeda</option></select></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels text-black">Teléfono</label><select type="text" class="form-control text-black" placeholder="Teléfono" value="" disabled><option>+57 3156487941</option></select></div><hr>
                    <div class="col-md-12"><label class="labels text-black">Tipo de Documento</label><select type="text" class="form-control text-black" placeholder="Tipo de Documento" value="" disabled><option>Cédula de Ciudadanía</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Número de Documento</label><select type="text" class="form-control text-black" placeholder="Número de Documento" value="" disabled><option>1098456354</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Email</label><select type="text" class="form-control text-black" placeholder="Email" value="" disabled><option>lizethojeda@gmail.com</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Dirección</label><select type="text" class="form-control text-black" placeholder="Dirección" value="" disabled><option>Calle 104f #9a-89</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Género</label><select type="text" class="form-control text-black" placeholder="Género" value="" disabled><option>Femenino</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Rol</label><select type="text" class="form-control text-black" placeholder="Rol" value="" disabled><option>Administrador</option></select></div><hr>                  
                    <div class="col-md-12"><label class="labels text-black">Estado</label><select type="text" class="form-control text-black" placeholder="Estado" value="" disabled><option>Activo</option></select></div><hr>                  
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels text-black">País</label><select type="text" class="form-control text-black" placeholder="País" value="" disabled><option>Colombia</option></select></div><hr>                  
                    <div class="col-md-6"><label class="labels text-black">Ciudad/Departamento</label><select type="text" class="form-control text-black" value="" placeholder="Ciudad/Departamento" disabled><option>Barranquilla/Atlantico</option></select></div><hr>                  
                </div>
                <div class="mt-5 text-center"><button class="btn btn-success profile-button" type="button">Editar Perfil</button></div>
            </div>
        </div> <hr>
    </div>
</div>
