{% block contenido %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-image:url(/static/img/malla.jpg)">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="col-sm-11">
                <h1 class="m-0 text-white text-xl-center"><th>MUNDIAL DE MALLAS Y ESTRUCTURAS INGENIERIA S.A.S</th><hr><img src="/static/img/logoMallas.ico" alt="logo">
                </h1>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- jQuery -->
<script src="/static/AdminLTE/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/AdminLTE/js-copy/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="/static/AdminLTE/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/AdminLTE/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="/static/AdminLTE/moment/moment.min.js"></script>
<script src="/static/AdminLTE/fullcalendar/main.js"></script>

{% endblock contenido %}