{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-success elevation-4 bg-gray-dark" name="sibebar">
    <!-- Brand Logo -->
    <a href="http://127.0.0.1:8000/inicio/" class="brand-link text-decoration-none">
        <img src="{% static '/img/logoMallas.ico' %}" alt="Mundial Mallas y Estructuras Logo"
            class="brand-image img-circle elevation-3 "
            style="opacity: .8">
        <span class="brand-text font-weight-light "><tr></tr>SCI MME</tr></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../static/img/perfil.jpg" class="img-circle elevation-2 h-100" alt="User Image">
            </div>
            <div class="info">
                <a href="http://127.0.0.1:8000/perfil/" class="d-block"><Strong>{{usuario_actual.first_name}}</Strong></a>
                
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar"
                    type="search"
                    placeholder="Buscar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw" title="Buscar"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <!-- Modulo Clientes-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/clientes/" class="nav-link active" title="Clientes"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Clientes
                    </p>
                </a>
            </li>
            <!-- Modulo Compras-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/compras/" class="nav-link active" title="Compras"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Compras
                    </p>
                </a>
            </li>
            <!-- Modulo Productos-->
            <li class="nav-item menu-close">
                <a href="http://127.0.0.1:8000/productos/" class="nav-link active" title="Productos"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Productos
                    </p>
                </a>

                <ul class="nav nav-treeview">

                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/productos/" class="nav-link" title="Productos">
                        <i class="nav-icon fas fa-shopping-bag" ></i>
                        <p>Productos</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                    <a href="{% url 'categorias' %}" class="nav-link" title="Categorías">
                        <i class="nav-icon fas fa-icons" ></i>
                        <p>Categorías</p>
                    </a>
                    </li>
                    
                </ul>

            </li>
            <!-- Modulo Proveedores-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/proveedores/" class="nav-link active" title="Proveedores"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Proveedores
                    </p>
                </a>
            </li>
            <!-- Modulo Servicios-->
            <li class="nav-item menu-close">
                <a href="http://127.0.0.1:8000/servicios/" class="nav-link active" title="Servicios"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Servicios
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a href="http://127.0.0.1:8000/servicios/" class="nav-link" title="Servicios">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>Servicios</p>
                    </a>
                    </li>
                    
                    <li class="nav-item">
                    <a href="{% url 'tiposdeservicios' %}" class="nav-link" title="Tipos de Servicios">
                        <i class="nav-icon fas fa-shopping-basket"></i>
                        <p>Tipos de Servicios</p>
                    </a>
                    </li>
                </ul>
            </li>
            <!-- Modulo Usuarios-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/usuarios/" class="nav-link active" title="Usuarios"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Usuarios
                    </p>
                </a>
            </li>
            <!-- Modulo Ventas-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/ventas/" class="nav-link active" title="Ventas"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Ventas
                    </p>
                </a>
            </li>
            <li class="nav-header">EXTRAS</li>
                        <!-- Modulo Tecnicos-->
            <li class="nav-item">
                <a href="http://127.0.0.1:8000/tecnicos/" class="nav-link active" title="Técnicos"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Técnicos
                    </p>
                </a>
            </li>
            <!-- Modulo Departamento-->
            <li class="nav-item">
                <a href="http://127.0.0.1:8000/departamentos/" class="nav-link active" title="Departamentos"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Departamentos
                    </p>
                </a>
            </li>

            
            <!-- Modulo Ciudad-->
            <li class="nav-item">
                <a href="http://127.0.0.1:8000/ciudad/" class="nav-link active" title="Ciudades"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Ciudades
                    </p>
                </a>
            </li>

            <li class="nav-item menu-open">
                <a href="{% url 'basedatos' %}" class="nav-link active" title="Base de Datos"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Base de Datos
                    </p>
                </a>
            </li>

            <hr>
            <li class="nav-item bg-gray">
                <a href="http://127.0.0.1:8000/logout/" class="nav-link" title="Cerrar Sesión"><i class="fas
                fa-arrow-circle-right"></i>
                    <p>
                        Cerrar Sesión
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- /.control-sidebar -->
<!-- Control Sidebar -->
<div>
    <aside class="control-sidebar control-sidebar-dark" style="display: none; top: 56.9754px; height: 610.025px;">
    <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->  
    <div id="sidebar-overlay"></div>
</div>