{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-success elevation-4 bg-gray-dark" name="sibebar">
    <!-- Brand Logo -->
    <a href="http://127.0.0.1:8000/inicio/" class="brand-link text-decoration-none">
        <img src="{% static '/img/logoMallas.ico' %}" alt="Mundial Mallas y Estructuras Logo"
            class="brand-image img-circle elevation-3 "
            style="opacity: .8">
        <span class="brand-text font-weight-light "><tr></tr>SCI MME</tr></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/perfil.jpg' %}"
                    class="img-circle
                    elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="http://127.0.0.1:8000/perfil/" class="d-block">Lizeth Ojeda</a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar"
                    type="search"
                    placeholder="Buscar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <!-- Modulo Clientes-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/clientes/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Clientes
                    </p>
                </a>
            </li>
            <!-- Modulo Compras-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/compras/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Compras
                    </p>
                </a>
            </li>
            <!-- Modulo Productos-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/productos/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Productos
                    </p>
                </a>
            </li>
            <!-- Modulo Proveedores-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/proveedores/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Proveedores
                    </p>
                </a>
            </li>
            <!-- Modulo Servicios-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/servicios/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Servicios
                    </p>
                </a>
            </li>
            <!-- Modulo Usuarios-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/usuarios/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Usuarios
                    </p>
                </a>
            </li>
            <!-- Modulo Ventas-->
            <li class="nav-item menu-open">
                <a href="http://127.0.0.1:8000/ventas/" class="nav-link active"><i class="fas fa-circle-notch"></i>
                    <p>
                        Gestionar Ventas
                    </p>
                </a>
            </li>
            <hr>
            <li class="nav-item bg-gray">
                <a href="http://127.0.0.1:8000/login" class="nav-link"><i class="fas
                fa-arrow-circle-right"></i>
                    <p>
                        Cerrar Sesión
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- /.control-sidebar -->
<!-- Control Sidebar -->
<div>
    <aside class="control-sidebar control-sidebar-dark" style="display: none; top: 56.9754px; height: 610.025px;">
        <!-- Control sidebar content goes here -->
    <div class="p-3 control-sidebar-content os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden 
    os-host-scrollbar-vertical-hidden os-host-transition" style="height: 610.025px;"><div class="os-resize-observer-host observed">
    <div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed"
    style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" 
    style="margin: -16px; width: 0px; height: 0px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible">
    <div class="os-content" style="padding: 16px; height: 100%; width: 100%;"><h5>Customize AdminLTE</h5><hr class="mb-2"><div class="mb-4"><input 
    type="checkbox" value="1" class="mr-1"><span>Dark Mode</span></div><h6>Header Options</h6><div class="mb-1"><input type="checkbox" value="1"
    class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Dropdown Legacy Offset</span>
    </div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>No border</span></div><h6>Sidebar Options</h6><div class="mb-1"><input 
    type="checkbox" value="1" class="mr-1"><span>Collapsed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1">
    <span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1"><span>Sidebar Mini</span></div><div class="mb-1">
    <input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini MD</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1">
    <span>Sidebar Mini XS</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Flat Style</span></div><div class="mb-1">
    <input type="checkbox" value="1" class="mr-1"><span>Nav Legacy Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1">
    <span>Nav Compact</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Indent</span></div><div class="mb-1">
    <input type="checkbox" value="1" class="mr-1"><span>Nav Child Hide on Collapse</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1">
    <span>Disable Hover/Focus Auto-Expand</span></div><h6>Footer Options</h6><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span>
    </div><h6>Small Text Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Body</span></div><div class="mb-1"><input type="checkbox"
    value="1" class="mr-1"><span>Navbar</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Brand</span></div><div class="mb-1"><input
    type="checkbox" value="1" class="mr-1"><span>Sidebar Nav</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Footer</span>
    </div><h6>Navbar Variants</h6><div class="d-flex"><select class="custom-select mb-3 text-light border-0 bg-white"><option class="bg-primary">Primary</option>
    <option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option>
    <option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option>
    <option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option>
    <option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option>
    <option class="bg-white">White</option><option class="bg-orange">Orange</option></select></div><h6>Accent Color Variants</h6><div class="d-flex"></div><select 
    class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option
    class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option
    class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option>
    <option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option>
    <option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Dark Sidebar Variants</h6><div class="d-flex"></div><select 
    class="custom-select mb-3 text-light border-0 bg-primary"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option>
    <option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option>
    <option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option>
    <option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option>
    <option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Light Sidebar Variants</h6><div class="d-flex"></div>
    <select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option>
    <option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option>
    <option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option>
    <option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option>
    <option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Brand Logo Variants</h6><div class="d-flex"></div><select 
    class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option>
    <option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option>
    <option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option>
    <option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option>
    <option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option>
    <option class="bg-orange">Orange</option><a href="#">clear</a></select></div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
    <div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
    <div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div></aside>
    </aside>
    <!-- /.control-sidebar -->  
    <div id="sidebar-overlay"></div>
    </div>