{% load crispy_forms_tags %}

<!-- Modal de crear cliente -->

<div class="modal fade" id="crear_cliente" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b
                        class="text-black">CREAR CLIENTE</b></h1>
            </div>
            <div class="modal-body">
                <!-- Formulario -->
                <form action="{% url 'clientes-crear' %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

                    {% csrf_token %}
                    
                    <div class="modal-body text-start" id="form-nuevo-tecnico">
                                                    
                        <div class="d-inline-block w-100">
                            <label for="basic-url" for="validationCustom01"
                                class="form-label ps-2 text-black"
                                style="font-size: 17;">Nombre Empresa</label>
                            <div class="input-group mb-3 w-100">
                                <input type="text" class="form-control"
                                    name="nombreEmpresa" id="id_nombres"
                                    aria-describedby="basic-addon3" required
                                    minlength="1"
                                    maxlength="100" id="validationCustom01"
                                    required value="{{cliente.nombreEmpresa}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Completa la información.
                                </div>
                            </div>
                        </div>

                        <div class="d-inline-block w-100">
                            <label for="basic-url" for="validationCustom02"
                                class="form-label ps-2 text-black"
                                style="font-size: 17;">NIT</label>
                            <div class="input-group mb-3 w-100">
                                <input type="number" class="form-control"
                                    name="nit" id="id_nit"
                                    aria-describedby="basic-addon3"
                                    id="validationCustom02" required
                                    minlength="1"
                                    maxlength="20" required value="{{cliente.nit}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Completa la información.
                                </div>
                            </div>
                        </div>

                        <div class="d-inline-block w-100">
                            <label for="basic-url" for="validationCustom03"
                                class="form-label ps-2 text-black"
                                style="font-size: 17;">Número de Teléfono</label>
                            <div class="input-group mb-3 w-100">
                                <input type="number" class="form-control"
                                    name="telefono"
                                    id="id_numeroTelefono"
                                    aria-describedby="basic-addon3"
                                    id="validationCustom03" required
                                    minlength="1"
                                    maxlength="20" required value="{{cliente.telefono}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Ingresa un número de teléfono valido.
                                </div>
                            </div>
                        </div>


                        <div class="d-inline-block w-100">
                            <label for="basic-url" class="form-label ps-2
                                text-black" for="validationCustom04"
                                style="font-size: 17;">Dirección</label>
                            <div class="input-group mb-3 w-100">
                                <input type="text" class="form-control"
                                    name="direccion"
                                    id="id_direccion"
                                    aria-describedby="basic-addon3" required
                                    minlength="1"
                                    maxlength="50" id="validationCustom04"
                                    required value="{{cliente.direccion}}">
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Ingresa una dirección valida.
                                </div>
                            </div>
                        </div>


                        <div class="d-inline-block w-100">
                            <label for="basic-url" class="form-label ps-2
                                text-black" for="validationCustom05"
                                style="font-size: 17;">Email</label>
                            <div class="input-group mb-3 w-100">
                                <input type="email" class="form-control"
                                    name="email"
                                    id="id_email"
                                    aria-describedby="basic-addon3" required
                                    minlength="1"
                                    maxlength="100" id="validationCustom05"
                                    required value="{{cliente.email}}">
                                    <div class="invalid-feedback">
                                        Ingresa un email valido.
                                    </div>
                            </div>
                        </div>

                        <div class="d-inline-block w-100">
                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Ciudad</label>
                            <div class="input-group mb-3 w-100">
                                <select id="id_ciudad" class="form-select" name="ciudad"aria-label="tipo-activo"
                                    id="validationCustom06" required>

                                    <option class="text-black" select value="{{cliente.ciudad.pk}}" selected hidden>{{cliente.ciudad}}</option>
                                
                                    {% for ciudad in ciudades %}
                                        <option class="text-black" value="{{ciudad.id}}">{{ciudad.nombre}}</option>
                                    {% endfor %}
                                
                                </select>
                                <div class="valid-feedback">
                                    ¡Vamos bien!
                                </div>
                                <div class="invalid-feedback">
                                    Selecciona una opción valida.
                                </div>
                            </div>
                        </div>

                                                    
                    
                    
                        <div class="modal-footer">
                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DE CIUDAD -->
                            <button type="reset" class="btn btn-secondary"
                                data-bs-dismiss="modal" title="Cancelar">Cancelar</button>
                            <input class="btn btn-success" type="submit" title="Crear" value="Crear">
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/funciones.js"></script>