{% load static %}
{% block contenido %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">PROVEEDORES</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/proveedores"
                                class="text-success">/ Proveedores</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b
                                    class="text-success">Reporte de
                                    Proveedores</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Este botón llama el modal -->
                        <a class="btn btn-success float-right mr-0 mb-3"
                            data-bs-toggle="modal" title="Crear"
                            data-bs-target="#crear_Proveedor{{proveedor.pk}}">
                            Crear Proveedor</a>
                        <!-- Datatable de Proveedores -->
                        <table id="tabla-proveedores" class="table table-bordered
                            table-striped border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">Nombre Empresa</th>
                                    <th class="border-dark">Correo Electrónico</th>
                                    <th class="border-dark">Teléfono</th>
                                    <th class="border-dark">Dirección</th>
                                    <th class="border-dark">Modo de Pago</th>
                                    <th class="border-dark">Tiempo de Entrega</th>
                                    <th class="border-dark">Transporte Incluido</th>
                                    <th class="border-dark">Material</th>
                                    <th class="border-dark">Departamento</th>
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <!--back end inf-->
                            <tbody>
                                {% for proveedor in proveedores %}
                                <tr>
                                    <td class="border-dark text-black">{{proveedor.nombreEmpresa}}</td>
                                    <td class="border-dark text-black">{{proveedor.email}}</td>
                                    <td class="border-dark text-black">{{proveedor.telefono}}</td>
                                    <td class="border-dark text-black">{{proveedor.direccion}}</td>
                                    <td class="border-dark text-black">{{proveedor.modoPago}}</td>
                                    <td class="border-dark text-black">{{proveedor.tiempoEntrega}}</td>
                                    <td class="border-dark text-black">{{proveedor.transporteIncluido}}</td>
                                    <td class="border-dark text-black">{{proveedor.material}}</td>
                                    <td class="border-dark text-black">{{proveedor.departamento}}</td>
                                    <td class="border-dark text-black">
                                        <button class="btn btn-success"
                                            data-bs-toggle="modal"
                                            data-bs-target="#verProveedor">
                                            <i class="fas fa-eye"></i></button><c>{% include 'proveedores/proveedores-ver.html' %}</c>
                                        <button class="btn btn-primary"
                                            title="Modificar"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modificarProveedor">
                                            <i class="fas fa-edit"></i></button><c>{% include 'proveedores/proveedores-modificar.html' %}</c>
                                        <button class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{proveedor.pk}}">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                    id="deleteModal{{proveedor.pk}}"
                                    tabindex="-1"
                                    aria-labelledby="deleteModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title "
                                                    id="deleteModalLabel"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR PROVEEDOR</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center
                                                    text-danger"><i class="far
                                                        fa-times-circle fa-5x
                                                        mb-4 mt-2"></i></div>
                                                <div class="text-center
                                                    text-danger">
                                                    <span class="">¿Estás seguro de que deseas eliminar este proveedor?</span>
                                                    <div class="text-dark mt-3
                                                        mb-2">Proveedor: <strong>{{proveedor.nombreEmpresa}}</strong></div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'delete_proveedor' proveedor.pk %}">
                                                    {% csrf_token %}

                                                    <input type="submit"
                                                        class="btn btn-danger"
                                                        value="Eliminar">
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <footer>{% include 'partials/footer.html' %}</footer>
            <!-- /.content-wrapper -->
            {% endblock contenido %}

            <!-- jQuery -->
            <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
            <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
            <!-- jQuery UI -->
            <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
            <!-- AdminLTE App -->
            <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
            <!-- toastr alert -->
            <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
            <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
            <!-- DataTables  & Plugins -->
            <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
            <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
            <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

            
            <!--DataTable Proveedores-->
            <script>
                $(function () {
                    $("#tabla-proveedores").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                        //dataTable configurations
                        "responsive": true, "paging": true, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "autoWidth": false, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-proveedores_wrapper .col-md-6:eq(0)');
                });
            </script>
            {% block javascript %}
            {% endblock javascript %}