{% load static %}
{% load humanize %}
{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">SERVICIOS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/servicios/"
                                class="text-success">/ Servicios</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b class="text-success">Reporte de Servicios</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Este botón llama el modal -->
                        {% if perms.servicios.add_servicio %}
                        <button type="button" class="btn btn-success float-right mr-0 mb-3" name="form-crear-servicio" data-bs-toggle="modal" data-bs-target="#crearServicio" title="Crear"> Crear Servicio</button>
                        {% endif %}
                        <!-- Datatable de servicios -->
                        <table id="tabla-servicios" class="table table-bordered table-striped dataTable dtr-inline border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">ID Servicio</th>
                                    <th class="border-dark">Fecha</th>
                                    <th class="border-dark">Tipo de Servicio</th>
                                    <th class="border-dark">Técnico</th>
                                    <th class="border-dark">Ciudad</th>
                                    <th class="border-dark">Valor Servicio</th>
                                    <th class="border-dark">IVA</th>
                                    <th class="border-dark">Valor Total</th>
                                    <th class="border-dark">Observación</th>
                                    {% if perms.servicios.view_servicio or perms.servicios.delete_servicio %}
                                    <th class="border-dark">Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for servicio in servicios %}
                                {% if servicio.estado == '1' %}
                                <tr>
                                    <td class="border-dark text-black">{{servicio.id}}</td>
                                    <td class="border-dark text-black">{{servicio.fecha}}</td>
                                    <td class="border-dark text-black">{{servicio.tipoServicio}}</td>
                                    <td class="border-dark text-black">{{servicio.tecnico}}</td>
                                    <td class="border-dark text-black">{{servicio.ciudad}}</td>
                                    <td class="border-dark text-black">{{servicio.valorServicio | intcomma}}</td>
                                    <td class="border-dark text-black">{{servicio.porcentajeIva}}%</td>
                                    <td class="border-dark text-black">{{servicio.valorTotal | intcomma}}</td>
                                    <td class="border-dark text-black">{{servicio.observacion}}</td>
                                    <td class="border-dark">
                                        {% if perms.servicios.view_servicio %}
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verServicio{{servicio.pk}}" title="Ver">
                                        <i class="fas fa-eye"></i></button>
                                        {% endif %} 

                                        {% if perms.servicios.delete_servicio %}
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{servicio.pk}}" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>

                                <!-- Modal de ver servicio -->
                                <div class="modal fade" id="verServicio{{servicio.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >&nbsp;&nbsp; VER SERVICIO</b></h1>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario -->
                                                <form  action="{% url 'servicios_ver' servicio.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                
                                                    {% csrf_token %}          
                                                    <div class="modal-body text-start"> 
                                            
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom01" style="font-size: 17;">Tipo de Servicio</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_tipodeservicio" class="form-control" name="tipodeservicio" aria-label="tipo-activo"
                                                                    id="validationCustom01" required disabled>
                                                                    <option class="text-black" select value hidden="{{servicio.tipodeservicio.pk}}">{{servicio.tipoServicio}}</option>
                                                                
                                                                    {% for tipodeservicio in tiposdeservicios %}
                                                                    {% if tipodeservicio.estado == '1' %}
                                                                    <option class="text-black" value="{{tipodeservicio.id}}">{{tipodeservicio.nombreServicio}}</option>                                                  
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>
    
                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom03" style="font-size: 17;">Técnico</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_tecnico" class="form-control" name="tecnico" aria-label="tipo-activo"
                                                                    id="validationCustom03" required disabled>
                                                                
                                                                    <option class="text-black" select value hidden="{{servicio.tecnico.pk}}">{{servicio.tecnico}}</option>
                                
                                                                    {% for tecnico in tecnicos %}
                                                                    {% if tecnico.estado == '1' %}
                                                                        <option class="text-black" value="{{tecnico.id}}">{{tecnico.nombres}} {{tecnico.apellidos}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Ciudad</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_ciudad" class="form-control" name="ciudad" aria-label="tipo-activo"
                                                                    id="validationCustom04" required disabled>
                                                                
                                                                    <option class="text-black" select value hidden="{{servicio.ciudad.pk}}">{{servicio.ciudad}}</option>
                                
                                                                    {% for ciudad in ciudades %}
                                                                    {% if ciudad.estado == '1' %}
                                                                        <option class="text-black" value="{{ciudad.id}}">{{ciudad.nombre}}</option>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url"  for="validationCustom05" class="form-label ps-2 text-black" style="font-size: 17;">Valor Servicio</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="decimal" class="form-control"
                                                                    name="valorServicio" id="id_valorServicio"
                                                                    aria-describedby="basic-addon3" id="validationCustom05" required minlength="1"
                                                                    maxlength="50" required value="{{servicio.valorServicio | intcomma}}" disabled>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">IVA</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_porcentajeIva" class="form-control" name="porcentajeIva"
                                                                aria-label="tipo-activo" id="validationCustom06" required disabled>
                                                                <option class="text-black" selected value hidden="{{servicio.porcentajeIva}}">{{servicio.porcentajeIva}}%</option>      
                                                                <option class="text-black" value="5">Bienes y Servicios</option>
                                                                <option class="text-black" value="0">Exento</option>                                    
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>

                                                        
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url"  for="validationCustom07" class="form-label ps-2 text-black" style="font-size: 17;">Valor Total</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="decimal" class="form-control"
                                                                    name="valorTotal" id="id_valorTotal"
                                                                    aria-describedby="basic-addon3" id="validationCustom07" required minlength="1"
                                                                    maxlength="50" required value="{{servicio.valorTotal | intcomma}}" disabled>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom08" class="form-label ps-2 text-black" style="font-size: 17;">Observación</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <textarea type="text" class="form-control" name="observacion"
                                                                    id="id_observacion"
                                                                    aria-describedby="basic-addon3" id="validationCustom08" required minlength="1"
                                                                    maxlength="250" required disabled>{{servicio.observacion}}</textarea>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un dato válido.
                                                                    </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-success" data-bs-dismiss="modal" title="Regresar">Regresar</button>
                                                        </div>
                                                    </div> 
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                                
                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                    id="deleteModal{{servicio.pk}}"
                                    tabindex="-1"
                                    aria-labelledby="deleteModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title "
                                                    id="deleteModalLabel"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR SERVICIO</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center
                                                    text-danger"><i class="far
                                                        fa-times-circle fa-5x
                                                        mb-4 mt-2"></i></div>
                                                <div class="text-center
                                                    text-danger">
                                                    <span class="">¿Estás seguro de que deseas eliminar este servicio?</span>
                                                    <div class="text-dark mt-3
                                                        mb-2">Servicio: <strong>{{servicio.id}} ID {{servicio.fecha}} {{servicio.tipoServicio}}</strong></div>
                                                </div>
                                            </div>

                                        <div class="modal-footer">
                                            <form method="post" action="{% url 'servicios_eliminar' servicio.pk %}">
                                                {% csrf_token %}

                                                <input type="submit"
                                                    class="btn btn-danger"
                                                    value="Eliminar">
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Fin del modal-->

                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                    {% if perms.servicios.view_servicio %}
                    <a href="{% url 'recuperar_servicios' %}" class="btn btn-warning float-right mr-1 mb-3" title="Papelera"><i class="fas fa-trash-restore"></i>&nbsp; Restaurar </a>
                    {% endif %}
                    <!-- /.card-body -->  
                </div>
            </div>            
            <!-- /.card -->
        </div>
    </section>
        <!-- /.content -->
</div>
<footer>{% include 'partials/footer.html' %}</footer>
    <!-- /.content-wrapper -->

            {% endblock contenido %}

            {% block javascript %}
                <!-- jQuery -->
                <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
                <!-- Bootstrap -->
                <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
                <!-- jQuery UI -->
                <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
                <!-- AdminLTE App -->
                <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
                <!-- toastr alert -->
                <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
                <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
                
                <!-- DataTables  & Plugins -->
                <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
                <script src="{% static 'AdminLTE/js/modal-status.js' %}"></script>
            
        <!--DataTable Servicios-->
            <script>
                $(function () {
                    $("#tabla-servicios").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                        //dataTable configurations
                        "responsive": true, "paging": true, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "autoWidth": false, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-servicios_wrapper .col-md-6:eq(0)');
                });
            </script>
            <script class="mx-2">(function(d){var s = d.createElement("script");s.setAttribute("data-account", "tkCHtUA3Ge");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
            {% endblock javascript %}