{% load static %}
{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">COMPRAS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success" title = "Inicio">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/clientes/"
                                class="text-success" title = "Compras">/ Compras</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid ">
        <div class="row">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="card-title text-success"><tr><b
                                class="text-success">Reporte de Compras</b></tr></h3>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <!-- Este botón llama el modal -->
                    <a class="btn btn-success float-right mr-0 mb-3" data-bs-toggle="modal"
                    data-bs-target="#crearDetalle" title="Crear"> Crear Detalle</a>
                        <!-- Datatable de compras -->

                        <table id="tabla-compras" class="table table-responsive-md table-bordered
                            table-striped  border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">ID Compra</th>
                                    <th class="border-dark">Fecha</th>
                                    <th class="border-dark">Proveedor</th>
                                    <th class="border-dark">Producto</th>
                                    <th class="border-dark">Cantidad producto</th>
                                    <th class="border-dark">Valor unidad</th>
                                    <th class="border-dark">Valor Total</th>                                   
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detallecompra in detalleCompra %}
                                {% if detallecompra.estado == '1' %}
                                <tr>     
                                    <td class="border-dark text-black">{{detallecompra.id}}</td>      
                                    <td class="border-dark text-black">{{detallecompra.fecha}}</td>
                                    <td class="border-dark text-black">{{detallecompra.proveedor}}</td>
                                    <td class="border-dark text-black">{{detallecompra.producto}}</td>
                                    <td class="border-dark text-black">{{detallecompra.cantidadProducto}}</td>                                    
                                    <td class="border-dark text-black">{{detallecompra.valorUnidad}}</td>
                                    <td class="border-dark text-black">{{detallecompra.totalCompra}}</td>
                                    <td class="border-dark text-black">
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verCompra{{compra.id}}" title="Ver">
                                            <i class="fas fa-eye"></i></button>   
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarCompra{{compra.pk}}" title="Modificar">
                                            <i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{compra.pk}}" title="Eliminar">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>

                                <!-- Modal de modificar compra -->

                                <div class="modal fade" id="modificarCompra{{compra.pk}}" data-bs-backdrop="static" 
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
                                ria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-3" id="staticBackdropLabel">
                                                <b class="text-black" >MODIFICAR COMPRA</b>
                                            </h1>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Formulario -->
                                            <form action="{% url 'compras-modificar' detallecompra.pk %}" 
                                                method="POST" enctype="multipart/form-data" 
                                                class="needs-validation" novalidate>
                                                
                                                {% csrf_token %}  
                                                <div class="modal-body text-start" id="form-nuevo-compra"> 
                                                
                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url" for="validationCustom01" 
                                                        class="form-label ps-2 text-black" 
                                                        style="font-size: 17;">Fecha</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <input type="text" class="form-control"
                                                            name="fecha" id="id_fecha"
                                                            aria-describedby="basic-addon3" id="validationCustom01" required minlength="1"
                                                            maxlength="50" required disabled value="{{detallecompra.fecha}}">
                                                        <div class="valid-feedback">
                                                            ¡Vamos bien!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Completa la información.
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom02" style="font-size: 17;">Proveedor</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <select id="id_ciudad" class="form-select" name="proveedor"aria-label="tipo-activo"
                                                            id="validationCustom02" required>
                                                        
                                                            

                                                            {% for proveedor in proveedores %}
                                                                <option class="text-black" value="{{proveedor.id}}">{{proveedor.nombreEmpresa}}</option>
                                                            {% endfor %}
                                                        
                                                        </select>
                                                        <div class="valid-feedback">
                                                            ¡Vamos bien!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Selecciona una opción valida.
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom03" style="font-size: 17;">Producto</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <select id="id_producto" class="form-select" name="proveedor"aria-label="tipo-activo"
                                                            id="validationCustom03" required>   
                                                            
                                                            
                                                        
                                                            {% for producto in productos %}
                                                                <option class="text-black" value="{{producto.id}}">{{producto.nombre}}</option>
                                                            {% endfor %}
                                                        
                                                        </select>
                                                        <div class="valid-feedback">
                                                            ¡Vamos bien!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Selecciona una opción valida.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url"  for="validationCustom04" class="form-label ps-2 text-black" style="font-size: 17;">Cantidad Producto</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <input type="number" class="form-control"
                                                            name="cantidadProducto" id="id_cantidadProducto"
                                                            aria-describedby="basic-addon3" id="validationCustom04" required minlength="1"
                                                            maxlength="50" required value="{{detallecompra.cantidadProducto}}">
                                                            <div class="valid-feedback">
                                                                ¡Vamos bien!
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Completa la información.
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url"  for="validationCustom05" class="form-label ps-2 text-black" style="font-size: 17;">Valor unidad</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <input type="number" class="form-control"
                                                            name="valorUnidad" id="id_valorUnidad"
                                                            aria-describedby="basic-addon3" id="validationCustom05" required minlength="1"
                                                            maxlength="50" required value="{{detallecompra.valorUnidad}}">
                                                            <div class="valid-feedback">
                                                                ¡Vamos bien!
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Completa la información.
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block w-100">
                                                    <label for="basic-url"  for="validationCustom06" class="form-label ps-2 text-black" style="font-size: 17;">Valor Total</label>
                                                    <div class="input-group mb-3 w-100">
                                                        <input type="number" class="form-control"
                                                            name="totalCompra" id="id_totalCompra"
                                                            aria-describedby="basic-addon3" id="validationCustom06" required minlength="1"
                                                            maxlength="50" required value="{{detallecompra.totalCompra}}">
                                                            <div class="valid-feedback">
                                                                ¡Vamos bien!
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Completa la información.
                                                            </div>
                                                    </div>
                                                </div>
                                                        
                                                </div> 

                                                <div class="modal-footer">
                                                        <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DE LA COMPRA -->
                                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <input class="btn btn-success" type="submit" name="form-nuevo-compra" value="Modificar">
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                </div>

                                <!-- Modal de ver compra -->

                                <div class="modal fade" id="verCompra{{compra.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >Ver Compras</b></h1>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario -->
                                    
                                                    <form  action="{% url 'compras-ver' detallecompra.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                    
                                                        {% csrf_token %}          
                                                        <div class="modal-body text-start" id="form-ver-venta"> 

                                                            <div class="d-inline-block w-100">                                                            
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Fecha</label>
                                                                <input type="datetime" name="fecha" class="form-control input-group mb-3 w-100" value="{{detallecompra.fecha}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Proveedor</label>
                                                                <input type="text" name="proveedor" class="form-control input-group mb-3 w-100" value="{{detallecompra.proveedor}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Producto</label>
                                                                <input type="text" name="producto" class="form-control input-group mb-3 w-100" value="{{detallecompra.producto}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Cantidad Producto</label>
                                                                <input type="number" name="cantidadProducto" class="form-control input-group mb-3 w-100" value="{{detallecompra.cantidadProducto}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Valor Unidad</label>
                                                                <input type="number" name="valorUnidad" class="form-control input-group mb-3 w-100" value="{{detallecompra.valorUnidad}}" required disabled/>
                                                            </div>
                                                            <div class="d-inline-block w-100">
                                                                <label class="form-label ps-2 text-black" style="font-size: 17;">Valor Total</label>
                                                                <input type="number" name="valorTotal" class="form-control input-group mb-3 w-100" value="{{detallecompra.totalCompra}}" required disabled/>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <!-- BOTÓN PARA VER LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL DETALLE VENTA -->
                                                            <button type="reset" class="btn btn-success" data-bs-dismiss="modal">Regresar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                <!-- Fin Modal -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>  


                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                id="deleteModal{{compra.pk}}"
                                tabindex="-1"
                                aria-labelledby="deleteModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title "
                                                id="deleteModalLabel"><i
                                                    class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR COMPRA</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center
                                                text-danger"><i class="far
                                                    fa-times-circle fa-5x
                                                    mb-4 mt-2"></i></div>
                                            <div class="text-center
                                                text-danger">
                                                <span class="">¿Estás seguro de que deseas eliminar esta compra?</span>
                                                <div class="text-dark mt-3
                                                    mb-2">Compra: <strong>{{detallecompra.id}}-{{detallecompra.fecha}}</strong></div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <form method="post" action="{% url 'compras_eliminar' detallecompra.pk %}">
                                                {% csrf_token %}

                                                <input type="submit"
                                                    class="btn btn-danger"
                                                    value="Eliminar">
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                {% endif %}
                                {% endfor %}
                            </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <a href="{% url 'recuperar_compras' %}" class="btn btn-warning float-right mr-1 mb-3" title="Papelera"><i class="fas fa-trash-restore"></i>&nbsp; Restaurar </a>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <footer>{% include 'partials/footer.html' %}</footer>
            <!-- /.content-wrapper -->

            {% endblock contenido %}


            {% block javascript %}
                <!-- jQuery -->
                <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
                <!-- Bootstrap -->
                <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
                <!-- jQuery UI -->
                <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
                <!-- AdminLTE App -->
                <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
                <!-- toastr alert -->
                <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
                <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
                
                <!-- DataTables  & Plugins -->
                <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
                <script src="{% static 'AdminLTE/js/modal-status.js' %}"></script>
    
        <!--DataTable Compras-->
        <script>
                $(function () {
                    $("#tabla-compras").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                         //dataTable configurations
                        "responsive": true, "paging": true, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "autoWidth": false, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-compras_wrapper .col-md-6:eq(0)');
                });
            </script>
            <script class="mx-3">(function(d){var s = d.createElement("script");s.setAttribute("data-account", "tkCHtUA3Ge");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
            {% endblock javascript %}