{% block contenido %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">COMPRAS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/compras/"
                                class="text-success">/ Compras</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b
                                    class="text-success">Reporte de
                                    Compras</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Modal de crear compra-->
                        <a class="btn btn-success float-right mr-0 mb-3" data-bs-toggle="modal" data-bs-target="#crearCompra"> Crear Compra</a>
                        <div>{% include 'compras/compras-crear.html' %}</div>
                        <!-- Datatable de compra -->
                        <table id="example1" class="table table-bordered
                            table-striped border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">Fecha</th>
                                    <th class="border-dark">Detalle Compra</th>
                                    <th class="border-dark">Usuario</th>
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for compra in compras %}
                                <tr>
                                    <td class="border-dark">{{compra.fecha}}</td>
                                    <td class="border-dark">{{compra.detalleCompra}}</td>
                                    <td class="border-dark">{{Compra.usuario}</td>
                                    <th class="border-dark">{{compra.acciones}}</th>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="border-dark">Trident</td>
                                    <td class="border-dark">Internet</td>
                                    <td class="text-black border-dark">Win 95+</td>
                                    <td class="border-dark">
                                        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verCompra">
                                            <i class="fas fa-eye"></i></a><c>{% include 'compras/compras-ver.html' %}</c>
                                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarCompra">
                                            <i class="fas fa-edit"></i></a><c>{% include 'compras/compras-modificar.html' %}</c>
                                            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <footer>{% include 'partials/footer.html' %}</footer>
            <!-- /.content-wrapper -->

            <!-- jQuery -->
            <script src="/static/AdminLTE/jquery/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/static/AdminLTE/js-copy/bootstrap.bundle.min.js"></script>
            <!-- jQuery UI -->
            <script src="/static/AdminLTE/jquery-ui/jquery-ui.min.js"></script>
            <!-- AdminLTE App -->
            <script src="/static/AdminLTE/js/adminlte.min.js"></script>
            <!-- fullCalendar 2.2.5 -->
            <script src="/static/AdminLTE/moment/moment.min.js"></script>
            <script src="/static/AdminLTE/fullcalendar/main.js"></script>

            {% endblock contenido %}