{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">PRODUCTOS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/productos/"
                                class="text-success">/ Productos</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b
                                    class="text-success">Reporte de
                                    Productos</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Este botón llama el modal -->
                        <a class="btn btn-success float-right mr-0 mb-3" data-bs-toggle="modal"
                            data-bs-target="#crearProducto"> Crear Producto</a>
                        <!-- Modal de crear producto-->
                        <c>{% include 'productos/productos-crear.html' %}</c>
                        <!-- Datatable de productos -->
                        <table id="example1" class="table table-bordered
                            table-striped border-dark"> {% load humanize %}
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">Nombre</th>
                                    <th class="border-dark">Precio</th>
                                    <th class="border-dark">Especificaciones</th>
                                    <th class="border-dark">Cantidad</th>
                                    <th class="border-dark">Cantidad Minimo</th>
                                    <th class="border-dark">Porcentaje IVA</th>
                                    <th class="border-dark">Categoría</th>
                                    <th class="border-dark">Foto</th>
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td class="align middle text-center"><img class="rounded-circle" src="{{ MEDIA_URL }}{{usuario.foto.url}}" alt="" width="50" height="50"></td>
                                    <td class="border-dark">{{producto.nombre}}</td>
                                    <td class="border-dark">{{producto.precio}}</td>
                                    <td class="border-dark">{{producto.especificaciones}}</td>
                                    <td class="border-dark">{{producto.stock}}</td>
                                    <td class="border-dark">{{producto.stockMinimo}}</td>
                                    <th class="border-dark">{{producto.porcentajeIva}}</th>
                                    <th class="border-dark">{{producto.categoria}}</th>
                                    <th class="border-dark">{{producto.foto}}</th>
                                    <th class="border-dark">{{producto.acciones}}</th>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="border-dark">Trident</td>
                                    <td class="border-dark">Internet</td>
                                    <td class="border-dark">Win 95+</td>
                                    <td class="border-dark"> 4</td>
                                    <td class="border-dark">X</td>
                                    <td class="text-black border-dark">Trident</td>
                                    <td class="text-black border-dark">Internet</td>
                                    <td class="text-black border-dark">Win 95+</td>
                                    <td class="border-dark">
                                        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verProducto">
                                            <i class="fas fa-eye"></i></a><c>{% include 'productos/productos-ver.html' %}</c>
                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarProducto">
                                            <i class="fas fa-edit"></i></a><c>{% include 'productos/productos-modificar.html' %}</c>
                                        <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <footer>{% include 'partials/footer.html' %}</footer>
            <!-- /.content-wrapper -->

            <!-- jQuery -->
            <script src="/static/AdminLTE/jquery/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/static/AdminLTE/js-copy/bootstrap.bundle.min.js"></script>
            <!-- jQuery UI -->
            <script src="/static/AdminLTE/jquery-ui/jquery-ui.min.js"></script>
            <!-- AdminLTE App -->
            <script src="/static/AdminLTE/js/adminlte.min.js"></script>
            <!-- fullCalendar 2.2.5 -->
            <script src="/static/AdminLTE/moment/moment.min.js"></script>
            <script src="/static/AdminLTE/fullcalendar/main.js"></script>

            {% endblock contenido %}