{% load static %}
{% block contenido %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-black"><tr><b class="text-black">PRODUCTOS</b></tr></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a
                                href="http://127.0.0.1:8000/inicio/">
                                <b class="text-success">Inicio </b></a></li>
                        <li class="breadcrumb-item-active"><a
                                href="http://127.0.0.1:8000/productos/"
                                class="text-success">/ Productos</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <!-- Card -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title text-success"><tr><b
                                    class="text-success">Reporte de
                                    Productos</b></tr></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Este botón llama el modal -->

                        <button type="button" class="btn btn-success float-right mr-0 mb-3"
                        name="form-crear-producto"
                        data-bs-toggle="modal"
                        data-bs-target="#crearProducto" title="Crear"> Crear Producto</button>

                    

                        <!-- Datatable de productos -->
                        <table id="tabla-productos" class="table table-responsive-md table-bordered
                            table-striped  border-dark">
                            <thead class="bg-success">
                                <tr>
                                    <th class="border-dark">ID Producto</th>
                                    <th class="border-dark">Nombre</th>
                                    <th class="border-dark">Precio</th>
                                    <th class="border-dark">Especificaciones</th>
                                    <th class="border-dark">Cantidad</th>
                                    <th class="border-dark">Categoría</th>
                                    <th class="border-dark">Estado</th>                                  
                                    <th class="border-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                {% if producto.estado == '1' %}
                                <tr>
                                    <td class="border-dark text-black">{{producto.id}}</td>
                                    <td class="border-dark text-black">{{producto.nombre}}</td>
                                    <td class="border-dark text-black">{{producto.precio}}</td>
                                    <td class="border-dark text-black">{{producto.especificaciones}}</td>
                                    <td class="border-dark text-black">{{producto.stock}}</td>
                                    <td class="border-dark text-black">{{producto.categoria}}</td>
                                    <td class="border-dark text-black">{{producto.estado}}</td>
                                    <td class="border-dark">
                                    
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verProducto{{producto.pk}}" title="Ver">
                                        <i class="fas fa-eye"></i></button>      
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarProducto{{producto.pk}}" title="Modificar">
                                        <i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{producto.pk}}" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>

                                <!-- Modal de editar producto -->

                                <div class="modal fade" id="modificarProducto{{producto.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >Modificar Productos</b></h1>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario -->
                                                {% if form.errors %}
                                                    <p style="color: red">Por favor revisa este campo</p>
                                                {% endif %}
                                                <form  action="{% url 'productos_modificar' producto.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                
                                                    {% csrf_token %}          
                                                    <div class="modal-body text-start" id="form-nuevo-usuario"> 

                                                    
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom01" class="form-label ps-2 text-black" style="font-size: 17;">Nombre</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="nombre" id="id_nombres"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom01" required value="{{producto.nombre}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url"  for="validationCustom02" class="form-label ps-2 text-black" style="font-size: 17;">Precio</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control"
                                                                    name="precio" id="id_apellidos"
                                                                    aria-describedby="basic-addon3" id="validationCustom02" required minlength="1"
                                                                    maxlength="50" required value="{{producto.precio}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom03" class="form-label ps-2 text-black" style="font-size: 17;">Especificaciones</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <textarea type="text" class="form-control" name="especificaciones"
                                                                    id="id_numeroTelefono"
                                                                    aria-describedby="basic-addon3" id="validationCustom03" required minlength="1"
                                                                    maxlength="250" required>{{producto.especificaciones}}</textarea>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un número de teléfono valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Cantidad</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control" name="stock"
                                                                    id="id_correoElectronico"
                                                                    aria-describedby="basic-addon3" id="validationCustom04" required minlength="1"
                                                                    maxlength="100" required value="{{producto.stock}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un correo electrónico valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                    
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Categoría</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_categoria" class="form-select" name="categoria"
                                                                    aria-label="tipo-activo" id="validationCustom06" required>
                                                                    
                                                                    <option class="text-black" selected value="{{producto.categoria.pk}}">{{producto.categoria}}</option>
                                                                    
                                                                    {% for categoria in categorias %}
                                                                    <option class="text-black" value="{{categoria.id}}">{{categoria.nombrecat}}</option>
                                                                    {% endfor %}

                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Estado</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_tipoDocumento" class="form-select" name="estado"
                                                                    aria-label="tipo-activo" id="validationCustom06" required>
                                                                    <option class="text-black" selected value="{{producto.estado}}">{{producto.estado}}</option>
                                                                    <option class="text-black" value="1">Activo</option>
                                                                    <option class="text-black" value="0">Inactivo</option>
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>    

                                                    </div> 

                                                    <div class="modal-footer">
                                                        <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL PRODUCTO -->
                                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <input class="btn btn-success" type="submit" name="form-nuevo-usuario" value="Modificar">
                                                    </div>

                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>      



                                <!-- Modal de ver producto -->
                                
                                <div class="modal fade" id="verProducto{{producto.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3" id="staticBackdropLabel"><b class="text-black" >Ver Productos</b></h1>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario -->
                                                {% if form.errors %}
                                                    <p style="color: red">Por favor revisa este campo</p>
                                                {% endif %}
                                                <form  action="{% url 'productos_modificar' producto.pk %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                                
                                                    {% csrf_token %}          
                                                    <div class="modal-body text-start" id="form-nuevo-usuario"> 

                                                    
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom01" class="form-label ps-2 text-black" style="font-size: 17;">Nombre</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="text" class="form-control"
                                                                    name="nombre" id="id_nombres"
                                                                    aria-describedby="basic-addon3" required minlength="1"
                                                                    maxlength="50" id="validationCustom01" required value="{{producto.nombre}}" disabled>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url"  for="validationCustom02" class="form-label ps-2 text-black" style="font-size: 17;">Precio</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control"
                                                                    name="precio" id="id_apellidos"
                                                                    aria-describedby="basic-addon3" id="validationCustom02" required minlength="1"
                                                                    maxlength="50" required value="{{producto.precio}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Completa la información.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" for="validationCustom03" class="form-label ps-2 text-black" style="font-size: 17;">Especificaciones</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <textarea type="text" class="form-control" name="especificaciones"
                                                                    id="id_numeroTelefono"
                                                                    aria-describedby="basic-addon3" id="validationCustom03" required minlength="1"
                                                                    maxlength="250" required>{{producto.especificaciones}}</textarea>
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un número de teléfono valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom04" style="font-size: 17;">Cantidad</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <input type="number" class="form-control" name="stock"
                                                                    id="id_correoElectronico"
                                                                    aria-describedby="basic-addon3" id="validationCustom04" required minlength="1"
                                                                    maxlength="100" required value="{{producto.stock}}">
                                                                    <div class="valid-feedback">
                                                                        ¡Vamos bien!
                                                                    </div>
                                                                    <div class="invalid-feedback">
                                                                        Ingresa un correo electrónico valido.
                                                                    </div>
                                                            </div>
                                                        </div>
                                                
                                                    
                                                
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Categoría</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_tipoDocumento" class="form-select" name="categoria"
                                                                    aria-label="tipo-activo" id="validationCustom06" required disabled>
                                                                    <option class="text-black" selected value="{{producto.categoria}}">{{producto.categoria.id}}</option>
                                                                

                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        
                                                        <div class="d-inline-block w-100">
                                                            <label for="basic-url" class="form-label ps-2 text-black" for="validationCustom06" style="font-size: 17;">Estado</label>
                                                            <div class="input-group mb-3 w-100">
                                                                <select id="id_tipoDocumento" class="form-select" name="estado"
                                                                    aria-label="tipo-activo" id="validationCustom06" required>
                                                                    <option class="text-black" selected value="{{producto.estado}}">{{producto.estado}}</option>
                                                                    <option class="text-black" value="1">Activo</option>
                                                                    <option class="text-black" value="0">Inactivo</option>
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    ¡Vamos bien!
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Selecciona una opción valida.
                                                                </div>
                                                            </div>
                                                        </div>    

                                                    </div> 

                                                    <div class="modal-footer">
                                                        
                                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                                                    
                                                    </div>

                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>      



                                <!-- Modal delete confirmation -->
                                <div class="modal fade"
                                id="deleteModal{{producto.pk}}"
                                tabindex="-1"
                                aria-labelledby="deleteModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title "
                                                id="deleteModalLabel"><i
                                                    class="fas fa-trash-alt"></i>&nbsp;&nbsp; ELIMINAR PRODUCTO</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center
                                                text-danger"><i class="far
                                                    fa-times-circle fa-5x
                                                    mb-4 mt-2"></i></div>
                                            <div class="text-center
                                                text-danger">
                                                <span class="">¿Estás seguro de que deseas eliminar este producto?</span>
                                                <div class="text-dark mt-3
                                                    mb-2">Producto: <strong>{{producto.id}} {{producto.nombre}}</strong></div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <form method="post" action="{% url 'productos_eliminar' producto.pk %}">
                                                {% csrf_token %}

                                                <input type="submit"
                                                    class="btn btn-danger"
                                                    value="Eliminar">
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--Fin del modal-->
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                    <a href="{% url 'recuperar_productos' %}" class="btn btn-warning float-right mr-1 mb-3" title="Papelera"><i class="fas fa-trash-restore"></i>&nbsp; Restaurar </a>
                        <!-- /.card-body -->  
                    </div>
                </div>            
                <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <footer>{% include 'partials/footer.html' %}</footer>
    <!-- /.content-wrapper -->

            {% endblock contenido %}


            {% block javascript %}
                <!-- jQuery -->
                <script src="{% static 'AdminLTE/jquery/jquery.min.js' %}"></script>
                <!-- Bootstrap -->
                <script src="{% static 'AdminLTE/js-copy/bootstrap.bundle.min.js' %}"></script>
                <!-- jQuery UI -->
                <script src="{% static 'AdminLTE/jquery-ui/jquery-ui.min.js' %}"></script>
                <!-- AdminLTE App -->
                <script src="{% static 'AdminLTE/js/adminlte.min.js' %}"></script>
                <!-- toastr alert -->
                <script type="application/json" src="{% static 'AdminLTE/toastr/toastr.js.map' %}"></script>
                <script type="text/javascript" src="{% static 'AdminLTE/toastr/toastr.min.js' %}"></script>
                
                <!-- DataTables  & Plugins -->
                <script src="{% static 'AdminLTE/datatables/jquery.dataTables.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
                <script src="{% static 'AdminLTE/jszip/jszip.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/pdfmake.min.js' %}"></script>
                <script src="{% static 'AdminLTE/pdfmake/vfs_fonts.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.html5.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.print.min.js' %}"></script>
                <script src="{% static 'AdminLTE/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
                <script src="{% static 'AdminLTE/js/modal-status.js' %}"></script>
            
        <!--DataTable Productos-->
        <script>
                $(function () {
                    $("#tabla-productos").DataTable({
                        dom: 'Bfrtip',  
                            language:{
                                url: "{% static 'AdminLTE/datatables/datatables.spanish.json' %}"
                            },
                        //dataTable configurations
                        "responsive": true, "paging": true, "lengthChange": false,
                        "searching": true, "ordering": true, "info": true,
                        "autoWidth": false, "pageLength": 8,
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    }
                    
                    ).buttons().container().appendTo('#tabla-productos_wrapper .col-md-6:eq(0)');
                });
            </script>
        {% endblock javascript %}