<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/estilos.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/img/logoMallas.ico"
            type="image/x-icon">
        <title>MUNDIAL MALLAS Y ESTRUCTURAS </title>
    </head>
    <body>
        <main>
            <div class="container-fluid">
                <header class="d-flex flex-wrap py-3 border-bottom" style="background-color:#343a40;">
                    <div class="d-flex justify-content-between w-100"
                        id="logoEmpresa">
                        <div class="w-50 mr-2">
                            <img src="/static/img/logoMallas.ico"
                                alt="LogoEmpresa" class="logoEmpresa">
                        </div>
                        <div class="container-fluid row justify-content-center
                            align-items-center">
                            <div id=titulo class="col-auto text-center fs-1
                                fw-light text-white">
                                MUNDIAL DE MALLAS Y ESTRUCTURAS INGENIERIA S.A.S
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div id="formulario" class="container">
                <div id="Inicio de Sesion">
                    <div class="d-flex flex-column min-vh-100
                        justify-content-center align-items-center">
                        <div class="card p-4 text-light bg-success mb-5">
                            <div class="card-header">
                                <h3><b>RECUPERAR CONTRASEÑA</b></h3>
                            </div>
                            <div class="card-body w-100">
                                <p class="login-box-msg" for="id_email">Digita el correo
                                    electrónico
                                    que tienes registrado en tu cuenta.</p>
                                <p class="login-box-msg">Recibirás un correo de
                                    recuperación.</p>
                                <form name="login" action="" method="post">
                                    {% csrf_token %}
                                    <div class="input-group form-group
                                        mt-3">
                                        <div class="bg-dark rounded-start">
                                            <span class="m-3"><i class="fas
                                                    fa-user mt-2"></i></span>
                                        </div>
                                        <input type="email" 
                                            class="form-control"
                                            placeholder="Correo electrónico"
                                            name="email" id="id_email" required>
                                    </div>
                                    <div class="form-group mt-3 mb-3">
                                        <button id="login-btn" class="btn btn-dark" type="submit">
                                            <a class="text-decoration-none
                                                text-white" title="Enviar"
                                                >Enviar </a>
                                        </button>
                                    </div>
                                </form>
                                <button class="mt-3 mb-1 float-end btn
                                    btn-success text-white">
                                    <a class="text-decoration-none text-white" title="Iniciar Sesión"
                                        href="http://127.0.0.1:8000">Iniciar
                                        Sesión</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer class="text-center text-lg-start text-white" style="background-color:#343a40;">
        <!-- Copyright -->
        <div class="text-center p-5">
            © 2022 Copyright:
            <a class="text-white text-reset fw-bold text-decoration-none"
                href="https://www.mundialdemallasygaviones.com/">MUNDIAL DE
                MALLAS Y
                ESTRUCTURAS INGENIERIA S.A.S</a>
        </div>
        <script class="mx-2">(function(d){var s = d.createElement("script");s.setAttribute("data-account", "tkCHtUA3Ge");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
        <!-- Copyright -->
    </footer>
</html>