<html>
    <h1>
        Recuperación de Contraseña SCI MME
    </h1>

    <h2>
        Solicitaste el reestablecimiento de tu contraseña, Click en el siguiente enlace para crear una nueva contraseña
    
    {% block reset_link %}
        {{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    Tu nombre de usuario es: {{user.get.username}}
    </h2>

    <p>
        Este correo es enviado por MALLAS Y ESTRUCTURAS INGENIERIA S.A.S 
        Por favor, no respondas a este correo.
    </p>
</html>